from pyfirmata import Arduino, util

comport='COM6'

board=Arduino(comport)

it = util.Iterator(board)
it.start()

led_pin3 = 3
led_pin4 = 4 
led_pin5 = 5 
led_pin6 = 6
led_pin7 = 7

def led(total):
    if total==0:
        board.digital[led_pin3].write(0)
        board.digital[led_pin4].write(0)
        board.digital[led_pin5].write(0)
        board.digital[led_pin6].write(0)
        board.digital[led_pin7].write(0)
    elif total==1:
        board.digital[led_pin3].write(1)
        board.digital[led_pin4].write(0)
        board.digital[led_pin5].write(0)
        board.digital[led_pin6].write(0)
        board.digital[led_pin7].write(0)
    elif total==2:
        board.digital[led_pin3].write(1)
        board.digital[led_pin4].write(1)
        board.digital[led_pin5].write(0)
        board.digital[led_pin6].write(0)
        board.digital[led_pin7].write(0)
    elif total==3:
        board.digital[led_pin3].write(1)
        board.digital[led_pin4].write(1)
        board.digital[led_pin5].write(1)
        board.digital[led_pin6].write(0)
        board.digital[led_pin7].write(0)
    elif total==4:
        board.digital[led_pin3].write(1)
        board.digital[led_pin4].write(1)
        board.digital[led_pin5].write(1)
        board.digital[led_pin6].write(1)
        board.digital[led_pin7].write(0)
    elif total==5:
        board.digital[led_pin3].write(1)
        board.digital[led_pin4].write(1)
        board.digital[led_pin5].write(1)
        board.digital[led_pin6].write(1)
        board.digital[led_pin7].write(1)
